NODE_ENV=development
PORT=3002
MONGODB_URL=mongodb://localhost:27017/marketplace_db
REDIS_URL=redis://localhost:6379
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_BUCKET_NAME=your_bucket_name
AWS_REGION=ap-southeast-1
RABBITMQ_URL=amqp://localhost:5672
