# API Gateway
API_PORT=3000

# Services
AUTH_SERVICE_PORT=3001
MARKETPLACE_SERVICE_PORT=3002
ORDER_SERVICE_PORT=3003
INVESTMENT_SERVICE_PORT=3004
LOGISTICS_SERVICE_PORT=3005
NOTIFICATION_SERVICE_PORT=3006
ANALYTICS_SERVICE_PORT=3007

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=smarttani
POSTGRES_USER=smarttani_user
POSTGRES_PASSWORD=smarttani_pass
DATABASE_URL=postgresql://smarttani_user:smarttani_pass@localhost:5432/smarttani?schema=public

# MongoDB
MONGO_URI=mongodb://smarttani_user:smarttani_pass@localhost:27017/smarttani?authSource=admin

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=smarttani
RABBITMQ_PASS=smarttani_pass

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
