NODE_ENV=development
PORT=3003
DATABASE_URL=postgresql://user:password@localhost:5432/order_db
MONGODB_URL=mongodb://localhost:27017/order_logs_db
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_PRODUCTION=false
PLATFORM_FEE_PERCENT=2.5
ORDER_PAYMENT_TIMEOUT_MINUTES=60
ORDER_AUTO_COMPLETE_DAYS=7
SENTRY_DSN=
